
.slideshow-widget {
    margin-bottom: 20px;
}

.spacer-50 {
    height: 50px;
}

.spacer-70 {
    height: 70px;
}

.rslides .slideshow-widget-image {
    max-height: 350px;
}

.slideshow-widget-post-headers li {
    white-space: nowrap;
}