<div class="innerFooter smooth">
    <div class="footerLeft">
        <div class="copyrightInfo">
            <img class="monogram" src="img/monogram.png" alt="copyright fancy things" />
            <span class="text-muted">&copy; Fancy Things LLC // All rights reserved</span>
        </div>
    </div>
    <div class="footerRight">
        <ul class="footerLinks">
            <li><a class="text-muted" href="mailto:kristin@fancythingsblog.com">Contact</a></li>
            <li><a class="text-muted" href="http://www.fancythingsblog.com/p/policies.html" target="_blank">Policies</a></li>
            <li><a class="text-muted" href="https://www.facebook.com/pages/fancy-things-the-blog/213692045319671?sk=wall" target="_blank">Facebook</a></li>
            <li><a class="text-muted" href="https://twitter.com/#!/fancythingsblog" target="_blank">Twitter</a></li>
            <li><a class="text-muted" href="http://pinterest.com/fancythingsk/" target="_blank">Pinterest</a></li>
            <li><a class="text-muted" href="http://instagram.com/fancythingsblog" target="_blank">Instagram</a></li>
        </ul>
    </div>
    <div></div>
</div>
