<ul>
    <li><a id="twitter" class="fa fa-twitter" href="https://twitter.com/#!/fancythingsblog" target="_blank"></a></li>
    <li><a id="facebook" class="fa fa-facebook" href="https://www.facebook.com/pages/fancy-things-the-blog/213692045319671?sk=wall" target="_blank"></a></li>
    <li><a id="bloglovin" class="fa fa-heart" href="http://www.bloglovin.com/blog/3322677/fancy-things" target="_blank"></a></li>
    <li><a id="instagram" class="fa fa-instagram" href="http://instagram.com/fancythingsblog" target="_blank"></a></li>
    <li><a id="pinterest" class="fa fa-pinterest" href="http://pinterest.com/fancythingsk/" target="_blank"></a></li>
</ul>