<div class="container-fluid" role="main">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <script>
            $('body > [role=main] > nav').load('views/partials/navigation.html');
        </script>
    </nav>
    <div id="root" class="row">
        <script>ContentLoader.Load();</script>
    </div>
    
    <footer>
        <div>
            <a href="http://www.stylelist.com/" target="_blank" rel="nofollow"><img src="http://o.aolcdn.com/os/Stylelist/images/network_stylelist_blackonwhite.jpg"></a>
        </div>
        <div>Copyright &copy; 2010-2014 Fancy Things, LLC.</div>
    </footer>
</div>
<script src="Scripts/Main.js"></script>