<div class="loading-overlay"><i class="fa fa-spinner"></i></div>
<div class="container-fluid" role="main">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <script>
            $('body > [role=main] > nav').load('views/partials/navigation.html');
        </script>
    </nav>
    <div id="root" class="row">
        <script>ContentLoader.Load();</script>
    </div>
    
    <footer>
        <div>
            <a href="http://www.stylelist.com/" target="_blank" rel="nofollow"><img src="http://o.aolcdn.com/os/Stylelist/images/network_stylelist_blackonwhite.jpg"></a>
        </div>
        <div class="footer-left">
            <img src="./img/logo32x32.png" alt="copyright Fancy Things" /><span class="logo-spacer"></span><span class="text-muted">Copyright &copy; 2010-2014 Fancy Things, LLC.</span>
        </div>
        <div class="footer-right">
            <ul>
                <li><a class="text-muted" href="mailto:kristin@fancythingsblog.com">Contact</a></li>
                <li><a class="text-muted" href="https://www.facebook.com/pages/fancy-things-the-blog/213692045319671?sk=wall" target="_blank">Facebook</a></li>
                <li><a class="text-muted" href="https://twitter.com/#!/fancythingsblog" target="_blank">Twitter</a></li>
                <li><a class="text-muted" href="http://pinterest.com/fancythingsk/" target="_blank">Pinterest</a></li>
                <li><a class="text-muted" href="http://instagram.com/fancythingsblog" target="_blank">Instagram</a></li>
            </ul>
        </div>
    </footer>
</div>
<script src="Scripts/Main.js"></script>