<div id="navContainer" class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div id="mobileNav" class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=".">Fancy Things</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li id="servicesLink"><a href="services.html">Services</a></li>
            <li id="aboutLink"><a href="about.html">About</a></li>
            <li id="pressLink"><a href="press.html">Press</a></li>
            <li id="contactLink"><a href="mailto:kristin@fancythingsblog.com">Contact</a></li>
            <li id="ltkLink"><a href="liketoknowit.html">LIKETOKNOW.IT</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right social-media-icons">
            <li><a href="https://www.facebook.com/pages/fancy-things-the-blog/213692045319671?sk=wall" class="fa fa-facebook"></a></li>
            <li><a href="https://twitter.com/#!/fancythingsblog" class="fa fa-twitter"></a></li>
            <li><a href="mailto:kristin@fancythingsblog.com" class="fa fa-envelope"></a></li>
            <li><a href="http://pinterest.com/fancythingsk/" class="fa fa-pinterest"></a></li>
            <li><a href="http://www.bloglovin.com/blog/3322677/fancy-things" class="fa fa-heart"></a></li>
            <li><a href="http://instagram.com/fancythingsblog" class="fa fa-instagram"></a></li>
            <li><a href="https://plus.google.com/112197907108350187716?prsrc=5" class="fa fa-plus"></a></li>
        </ul>
    </div>
</div>