<div class="ft-profile widget">
    <div><h5>Meet Kristin <i class="fa fa-caret-down"></i></h5></div>
    <a href="about.html"><img class="img-responsive" src="./img/meetKristin.jpg" alt="profile picture" /></a>
</div>

<!--<div class="trending-items widget">
    <div><h5>Shop The Feed <i class="fa fa-caret-down"></i></h5></div>
    <div class="shopthepost-widget" data-widget-id="223096">
        <script type="text/javascript">!function (d, s, id) { var e, p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { e = d.createElement(s); e.id = id; e.src = p + '://' + 'widgets.rewardstyle.com' + '/js/shopthepost.js'; d.body.appendChild(e); } if (typeof window.__stp === 'object') if (d.readyState === 'complete') { window.__stp.init(); } }(document, 'script', 'shopthepost-script');</script><div class="rs-adblock"><img src="//assets.rewardstyle.com/images/search/350.gif" onerror="                this.parentNode.innerHTML = 'Disable your ad blocking software to view this content.'" style="width: 15px; height: 15px;" /><noscript>JavaScript is currently disabled in this browser. Reactivate it to view this content.</noscript></div>
    </div>
</div>-->

<div class="where-i-shop widget">
    <div><h5>Where I Shop <i class="fa fa-caret-down"></i></h5></div>
    <ul>
        <li><a href="http://bit.ly/1vmmQQN" target="_blank">ANTHROPOLOGIE</a></li>
        <li><a href="http://bit.ly/1qtG1ns" target="_blank">ASOS</a></li>
        <li><a href="http://bit.ly/Y6jS4U" target="_blank">BAUBLEBAR</a></li>
        <li><a href="http://bit.ly/1t1ntBX" target="_blank">BLOOMINGDALES</a></li>
        <li><a href="http://bit.ly/1wdCJ05" target="_blank">C.WONDER</a></li>
        <li><a href="http://bit.ly/1oh8taN" target="_blank">FRENCH CONNECTION</a></li>
        <li><a href="http://bit.ly/10nPkcm" target="_blank">GAP</a></li>
        <li><a href="http://bit.ly/1qtHk5H" target="_blank">GIGI NEW YORK</a></li>
        <li><a href="http://bit.ly/ZVJGyK" target="_blank">J. CREW</a></li>
        <li><a href="http://bit.ly/1kOOyEQ" target="_blank">LILLY PULITZER</a></li>
        <li><a href="http://bit.ly/ZVJP52" target="_blank">LOFT</a></li>
        <li><a href="http://bit.ly/1v1BT5c" target="_blank">MACYS</a></li>
        <li><a href="http://bit.ly/1v1BaRl" target="_blank">MADEWELL</a></li>
        <li><a href="http://bit.ly/1vmlTIe" target="_blank">NEIMAN MARCUS</a></li>
        <li><a href="http://bit.ly/WWCxjO" target="_blank">NORDSTROM</a></li>
        <li><a href="http://bit.ly/WWCRPL" target="_blank">OLD NAVY</a></li>
        <li><a href="http://bit.ly/1qfGkHk" target="_blank">PIPERLIME</a></li>
        <li><a href="http://bit.ly/18Ku5sR" target="_blank">SAKS FIFTH AVENUE</a></li>
        <li><a href="http://bit.ly/1gOuuNA" target="_blank">SEPHORA</a></li>
        <li><a href="http://bit.ly/YQcEDj" target="_blank">SHOPBOP</a></li>
        <li><a href="http://bit.ly/WWCK6L" target="_blank">TARGET</a></li>
        <li><a href="http://bit.ly/Y6jHGP" target="_blank">TORY BURCH</a></li>
        <li><a href="http://bit.ly/ZVK28A" target="_blank">ULTA</a></li>
        <li><a href="http://bit.ly/1kY8zcg" target="_blank">WEST ELM</a></li>
        <li><a href="http://bit.ly/1q2JFr2" target="_blank">ZAPPOS</a></li>
    </ul>
</div>

<div class="instagram widget">
    <div><h5>My Insta <i class="fa fa-caret-down"></i></h5></div>
    <!-- SnapWidget -->
    <iframe src="http://snapwidget.com/sl/?u=ZmFuY3l0aGluZ3NibG9nfGlufDI2M3wzfDN8fG5vfDV8bm9uZXxvblN0YXJ0fHllc3xubw==&ve=081114" title="Instagram Widget" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:268px"></iframe>
</div>

<div class="ft-search">
    <form class="search form-inline" role="search" action="../search.html">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Search" name="searchKey">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
    </form>
    <span class="archive">or view the <a href="archive.html">Archive</a></span>
</div>

<div class="pop-sugar-ad">
    <div>
        <a href="http://www.bellasugar.com/select" target="_blank"><img src="http://media3.onsugar.com/files/docs/POPSUGARSelectBeauty.png" alt="POPSUGAR Select Beauty"></a>
    </div>
</div>

<div class="riffraf-ad">
    <div>
        <a href="http://shopriffraff.com/" target="_blank"><img class="img-responsive" src="http://i1273.photobucket.com/albums/y407/Kristin_Brophy/FANCYTHINGS-1_zps636694f3.jpg" alt="Shop riffraf discount"></a>
    </div>
</div>