@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import "variables.less";

// Fancy things styles
// -------------------------

/*body > .container {
    max-width: 1400px;
    padding: 70px 15px 15px 15px;
    letter-spacing: .1em;
}*/

body > .container {
    letter-spacing: .1em;
}

a {
    color: @blue-color;
}

.ft-button {
    border: 2px solid lightskyblue;
    padding: 5px;
    border-radius: 4px;
    display: inline-block !important;
    width: 160px;
    transition: background-color linear .25s;
}

    .ft-button:hover {
        background-color: lightskyblue;

        a {
            color: white;
            text-decoration: none;
        }
    }

a:hover {
    /*color: lightsalmon;*/
    color: darken(@blue-color, 20%);
}

.navbar {
    .navbar-brand {
        color: @blue-color;
    }

    a:hover {
        color: @blue-color !important;
    }

    .active > a {
        background-color: transparent !important;
        color: @blue-color !important;
    }

    .thumbnail {
        border-radius: 0;
    }
}

.post-feed-sort {
    list-style: none;
    text-align: center;
    margin: 50px 0 30px 0;
    padding: 0;

    li {
        display: inline;
    }

    h4 {
        display: inline;
    }

    hr {
        max-width: 15%;
        display: inline-block;
        vertical-align: middle;
    }

    .divider {
        color: #ddd;
    }
}

.headroom--top {
    background-color: transparent;
    border-bottom: none;
    transition: background-color linear .25s;
}

.headroom--not-top {
    background-color: white;
    border-bottom: 1px solid @blue-color;
    transition: background-color linear .25s;
}

h1, h2, h3, h4 {
    font-family: @caps-header-font;
}

.rounded {
    border-radius: 10px;
}

.slideshow-widget {
    margin-bottom: 20px;

    .slideshow-widget-post-headers li {
        white-space: nowrap;

        a {
            color: @text-color;
        }
    }

    .slideshow-widget-image {
        max-width: 400px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .slideshow-widget-content {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .tagList {
        margin-top: 30px;
    }

    .thumbnail {
        border-top: none;
        border-radius: 0;
    }
}

.masonry-wrapper {
    max-width: 1000px;
    margin: 0 auto;

    .post-feed {
        margin: 0 auto;

        .post-feed-image {
            max-width: 250px;
        }

        .post-feed-item {
            max-width: 270px;
            padding: 10px;
            box-shadow: 0 0 10px 1px #ddd;
        }

        .post-feed-content {
            small {
                padding: 3px 0;
            }
        }

        .post-feed-share {
            i {
                font-size: 1.5em;
                padding: 5px;
            }
        }
    }
}

.valign {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.social-media-icons li {
    display: inline-block;
}

hr {
    border-top: 1px solid #ddd;
    width: 95%;
}

.featured-post {
    height: 580px;

    .featured-post-content {
        position: absolute;
        bottom: 0;
        height: 100px;
        width: 100%;
        background-color: #333;
        opacity: .8;
        padding: 10px;
        color: white;
        text-align: center;

        h3 {
            margin: 10px 0 5px 0;
        }
    }

    .share-icon {
        font-size: 1.8em;
        padding: 5px;
    }
}

#postContainer {
    margin-top: 50px;

    .post-summary {
        display: none;
    }

    .post-header {
        text-align: center;

        .share-icon {
            font-size: 1.7em;
            padding: 5px;
        }
    }

    .post-footer {
        text-align: center;
    }

    .post-thumbnail {
        display: none;
    }
}

#servicesContainer {
    margin-top: 75px;

    .row {
        padding: 25px 0;
    }

    .servicePitch {
        text-align: center;
    }

    .service {
        min-height: 175px;
        margin-bottom: 10px;
        border-radius: 10px;

        &:nth-child(1) {
            background-color: lemonchiffon;
        }

        &:nth-child(2) {
            background-color: lightblue;
        }

        &:nth-child(3) {
            background-color: lightgrey;
        }

        &:nth-child(4) {
            background-color: lightsalmon;
        }
    }

    i {
        font-size: 4em;
        line-height: 125px;
    }
}

#aboutContainer {
    margin-top: 75px;

    .about-text {
        p {
            line-height: 1.5em;
        }
    }

    .about-me-h4 {
        margin: 30px 0;
        text-align: center;
        text-decoration: underline;
    }

    .profile-img {
        margin-bottom: 20px;
        /*max-width: 500px;*/
    }

    .about-section-row {
        .about-section-col-left {
            margin-bottom: 20px;

            img {
                border-radius: 10px;
            }
        }

        .about-section-col-right {
        }
    }
}

#pressContainer {
    margin-top: 75px;
}

#policiesContainer {
    margin-top: 75px;
}
