@import "variables.less";

// Fancy things styles
// -------------------------

.container-fluid {
    padding: 70px 15px 15px 15px;
}

.slideshow-widget {
    margin-bottom: 20px;

    .slideshow-widget-post-headers li {
        white-space: nowrap;
    }

    .slideshow-widget-image {
        max-height: @slideshow-image-height;

        img {
            min-height: @slideshow-image-height;
        }
    }
}
