@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import "variables.less";

// Fancy things styles
// -------------------------

body {
    font: 100% calibri;
    letter-spacing: .1em;
    line-height: 1.5em;
    margin-top: 75px;
    font-size: 1.3em;
    color: black !important;
}

a {
    color: @blue-color;

    &:hover {
        color: darken(@blue-color, 20%);
    }
}

hr {
    border-top: 1px solid #ddd;
    width: 95%;
}

.ft-button {
    border: 2px solid @blue-color;
    padding: 5px;
    border-radius: 4px;
    display: inline-block !important;
    width: 160px;
    transition: background-color linear .2s;

    &:hover {
        background-color: @blue-color;

        a {
            color: white;
            text-decoration: none;
        }
    }
}

.ft-sig {
    list-style: none;
    padding: 0;
    margin: 30px auto;
    text-align: center;

    li {
        display: inline;
        color: #777;

        hr {
            display: inline-block;
            vertical-align: middle;
            width: 35% !important;
        }
    }
}

#navContainer {
    font: 1.1em Montserrat;
    text-transform: uppercase;
    letter-spacing: .15em;

    ul {
        font-size: .85em;
    }

    .navbar-brand, a:hover, .active > a {
        color: @blue-color;
    }

    .thumbnail {
        border-radius: 0;
    }
}

.widget {
    font: 1.2em Montserrat;

    .panel-body {
        padding: 10px !important;
    }
}

.headroom--top {
    background-color: transparent;
    border-bottom: none;
    transition: background-color linear .25s;
}

.headroom--not-top {
    background-color: white;
    border-bottom: 1px solid @blue-color;
    transition: background-color linear .25s;
}

h1, h2, h3, h4 {
    font-family: @caps-header-font;
}

.rounded {
    border-radius: 4px;
}

#homeContainer {
    .column-left {
        hr {
            margin: 30px auto;
            width: 80%;
        }

        .slideshow {
            position: relative;
            width: 100%;

            img {
                border-radius: 4px;
                width: 100%;
            }

            .content {
                position: absolute;
                bottom: 0;
                width: 100%;
                text-align: center;
                padding: 10px;

                em {
                    font-size: 1.2em;
                }
            }
        }

        .post-container-1 {
            float: left;
            width: 100%;
            background: green;
            overflow: hidden;
            position: relative;
        }

        .post-container-2 {
            float: left;
            width: 100%;
            background: yellow;
            position: relative;
            right: 30%;
        }

        .post-container-3 {
            float: left;
            width: 100%;
            background: red;
            position: relative;
            right: 40%;
        }

        .posts {
            .post {
                //position: absolute;
            }

            .post-inner {
                max-width: 600px;
                margin: 0 auto;

                .header {
                    text-align: center;
                    margin: 15px;

                    .title {
                        margin-bottom: 0;
                    }
                }

                img {
                    max-width: 100%;
                }

                iframe[src*=youtube] {
                    width: 100%;
                }
            }

            .post-thumbnail, .post-summary {
                display: none;
            }
        }

        .more-posts {
            .post {
                margin: 0 10px 10px 10px;
            }

            .posts:first-of-type {
                margin-right: 10px;
            }

            .post:last-of-type {
                margin-left: 10px;
            }
        }

        .masonry-wrapper {
            margin: 0 auto;

            .post-feed {
                margin: 0 auto;

                .post-feed-image {
                    max-width: 250px;
                }

                .post-feed-item {
                    max-width: 270px;
                    padding: 10px;
                    box-shadow: 0 0 10px 1px #ddd;
                    font-size: 1.4em;
                }

                .bottom {
                    margin-top: 5px;
                }

                .read-more-link {
                    display: inline-block;
                    padding: 5px 0;
                    margin-bottom: -5px;
                }

                .post-feed-share {
                    i {
                        font-size: 1.5em;
                        padding: 5px;
                        margin-bottom: -5px;
                    }
                }
            }
        }

        .view-more-posts {
            margin: 25px 0 30px 0;
            text-align: center;

            a {
                color: black;
                background-color: transparent;
                border-color: @blue-color;
                transition: color .2s;
                transition: background-color .2s;
                transition: border-color .2s;

                &:hover {
                    color: white;
                    background-color: @blue-color;
                    border-color: darken(@blue-color, 10%);
                }
            }
        }
    }

    .column-right {
        text-align: center;

        > div {
            margin-bottom: 50px;
        }

        .ft-profile {
            em {
                font-size: 1.2em;
            }
        }

        .where-i-shop {
            ul {
                list-style-type: none;
                padding: 0;
                margin: auto;

                li {
                    padding: 6px;
                }
            }
        }

        .ft-search {
            .archive a {
                display: inline-block;
                padding: 10px 0;
            }
        }

        .riffraf-ad {
            min-width: 100%;
        }
    }
}

.related-posts {
    text-align: center;
    margin-top: 80px;

    .image {
        max-width: 150px;
    }

    .item {
        max-width: 230px;
        padding: 10px;
        box-shadow: 0 0 10px 1px #ddd;
        margin: 0 auto 15px auto;
    }

    .content {
        small {
            padding: 3px 0;
        }
    }

    .share {
        i {
            font-size: 1.5em;
            padding: 5px;
        }
    }
}

.valign {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#postContainer {
    .post-summary {
        display: none;
    }

    .post-header {
        text-align: center;

        i {
            font-size: 1.7em;
            padding: 5px;
        }
    }

    .post-content {
        .share-icons {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #555;
            opacity: 0;
            transition: opacity linear .3s;

            i {
                font-size: 2em;
                padding: 5px;
            }
        }

            img:hover ~ .share-icons, .share-icons:hover {
                opacity: .8;
            }
    }

    .post-footer {
        text-align: center;
    }

    .post-thumbnail {
        display: none;
    }
}

#servicesContainer {
    .row {
        padding: 25px 0;
    }

    .servicePitch {
        text-align: center;
    }

    .service {
        min-height: 175px;
        margin-bottom: 10px;
        border-radius: 10px;

        &:nth-child(1) {
            background-color: lemonchiffon;
        }

        &:nth-child(2) {
            background-color: lightblue;
        }

        &:nth-child(3) {
            background-color: lightgrey;
        }

        &:nth-child(4) {
            background-color: lightsalmon;
        }
    }

    i {
        font-size: 4em;
        line-height: 125px;
    }
}

#aboutContainer {
    .about-text {
        p {
            line-height: 1.5em;
        }
    }

    .about-me-h4 {
        margin: 30px 0;
        text-align: center;
        text-decoration: underline;
    }

    .profile-img {
        margin-bottom: 20px;
        /*max-width: 500px;*/
    }

    .about-section-row {
        .about-section-col-left {
            margin-bottom: 20px;

            img {
                border-radius: 10px;
            }
        }

        .about-section-col-right {
        }
    }
}

#pressContainer {
}

#policiesContainer {
}

#searchContainer, #archiveContainer {
    .search-description {
        text-align: center;
    }

    .post-feed {
        .content {
            small {
                padding: 5px 0;
            }
        }

        .share {
            i {
                padding: 5px;
            }
        }
    }

    .archive {
        text-align: center;

        span {
            display: inline-block;

            a {
                display: inline-block;
                padding: 10px 0;
            }
        }
    }

    .column-right {
        text-align: center;
        margin-top: 50px;

        > div {
            margin-bottom: 15px;
        }

        .where-i-shop {
            ul {
                list-style-type: none;
                padding: 0;
                margin: auto;
                /*background-color: #e8e8e8;*/
                li {
                    padding: 6px;
                }
            }
        }

        .riffraf-ad {
            min-width: 100%;
        }
    }
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
        -webkit-backface-visibility: hidden;
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 0;

        &:first-child {
            position: relative;
            display: block;
            float: left;
        }
    }

    img {
        display: block;
        height: auto;
        float: left;
        width: 100%;
        border: 0;
    }
}

.rslides_nav {
    position: absolute;
    bottom: 42%;
    z-index: 100;
    opacity: .5;
    text-indent: -9999px;
    height: 61px;
    width: 38px;
}

.prev {
    background: transparent url("../img/rslidesNav.gif") no-repeat left top;
}

.next {
    background: transparent url("../img/rslidesNav.gif") no-repeat right top;
    right: 0;
}
