<div id="pressContainer">
    <div class="col-xs-12">
        <div>Fancy Things Blog will sometimes feature paid advertisements and affiliate links. Every item on my blog reflects my own personal style and are items I truly love. All sponsored posts will be noted as well as gifted products (marked as c/o.)</div>
        <div>If you are a company or brand that is interested in working with Fancy Things Blog, whether it be for a collaboration, giveaway, sponsored post, product review or service review- please contact me at <a href="mailto:kristin@fancythingsblog.com">kristin@fancythingsblog.com</a>. I look forward to hearing from you!</div>
    </div>
</div>
