<div id="pressContainer" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h5>Policies</h5>
            <hr/>
            <ul>
                <li><i class="fa fa-chevron-right"></i> Fancy Things Blog will sometimes feature paid advertisements and affiliate links.</li>
                <li><i class="fa fa-chevron-right"></i> Every item on my blog reflects my own personal style and are items I truly love.</li>
                <li><i class="fa fa-chevron-right"></i> All sponsored posts and gifted items will be noted. (marked as c/o.)</li>
                <li><i class="fa fa-chevron-right"></i> If you are a company or brand that is interested in working with Fancy Things, whether it be for a collaboration, giveaway, sponsored post, product review or service review - please contact me at <a href="mailto:kristin@fancythingsblog.com">kristin@fancythingsblog.com</a>.</li>
            </ul>
            <p>I look forward to hearing from you!</p>
            <p>-K$</p>
        </div>
    </div>
</div>