<section id="servicesContainer" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default service">
                <div class="panel-body">
                    <h4>Social Media Strategy <span class="fa fa-globe"></span></h4>
                    <p>Looking to <strong>grow your brands online presence</strong>? Social media is an important key to creating and maintaining a successful business. It’s our goal to optimize content for your social media platforms (i.e. Twitter, Facebook, Pinterest, Linked In, Google +, Instagram) through strategic methods that work for your brand.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default service">
                <div class="panel-body">
                    <h4>Content Creation <span class="fa fa-rss"></span></h4>
                    <p>The quality of the content on your site is important and lets your readers know who you are. We'll help you <strong>create engaging and visible content</strong> (ie. blog posts, graphics, advertisements, etc..) to help attract readers.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default service">
                <div class="panel-body">
                    <h4>Media Outreach <span class="fa fa-comments"></span></h4>
                    <p>Have a great product or service you’re currently trying to promote? We’ll get you in touch with some of the internet's top influencers and trendsetters and help <strong>build buzz and engagement</strong> for you and your business.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default service">
                <div class="panel-body">
                    <h4>Marketing Consulting <span class="fa fa-desktop"></span></h4>
                    <p>Creating and building your brand requires a lot of time and effort. It’s our goal to help jumpstart your business and/or blog by teaching you the key fundamentals, discussing strategic methods, as well as answering any questions you may have.</p>
                    <p>(Popular topics are: Social Media Tips/Tricks, Sponsored Collaborations, How to Turn your Blog into a Business, How to Build a Following, Increasing Readership, How to Get Your Readers Engaged, Building an Online Presence)
                </div>
            </div>
        </div>
    </div>

    <div class="row servicePitch">
        <div class="col-xs-12">
            <h5>Interested in any of our services?</h5>
            <a href="https://docs.google.com/forms/d/1uTBZqoY5HjB4N2MQNdZlbz2pW0zRmKUxG8SIp_9BqyM/viewform" class="btn btn-primary ft-link-btn">Submit an Inquiry</a>
            <em>I can't wait to hear from you!</em>
        </div>
    </div>
</section>

<script src="Scripts/services.js"></script>