<section class="Portal topLeft">
    <a href="http://www.fancythingsblog.com" target="_blank">
        <img src="img/portalBlog.jpg" class="img-responsive" alt="Fancy Things Blog" />
    </a>
</section>
<section class="Portal topRight">
    <a onclick="ContentLoader.Redirect('Services')">
        <img src='img/portalServices.jpg' class="img-responsive" alt="Services by Fancythings" />
    </a>
</section>
<section class="Portal bottomLeft">
    <a href="http://www.etsy.com/shop/shopfancythings" class="img-responsive" target="_blank">
        <img src='img/portalShop.png' class="img-responsive" alt="My Shop" />
    </a>
</section>
<section class="Portal bottomRight">
    <a onclick="ContentLoader.Redirect('About')">
        <img src='img/portalAbout.png' class="img-responsive" alt="Media" />
    </a>
</section>