<div class="SlideContainer">
    <div class="Slideleft fa fa-angle-left" onclick="Slideshow.InitSlide('left')"></div>
    <div class="Slides">
        <div id="slide1" class="live" style="display: block">
            <img src="img/slideWelcome.jpg" alt="Welcome" />
        </div>
        <div id="slide2">
            <img src="img/slidePencil.jpeg" alt="Pencils" />
        </div>
        <div id="slide3">
            <img src="img/slideLipstick.jpeg" alt="Lipstick" />
        </div>
        <div id="slide4">
            <img src="img/slideSweater.jpeg" alt="Sweater" />
        </div>
        <div id="slide5">
            <img src="img/slideDesk.jpeg" alt="Desk" />
        </div>
        <div id="slide6">
            <img src="img/slidePurse.jpeg" alt="Purse" />
        </div>
    </div>
    <div class="filler"></div>
    <div class="Slideright fa fa-angle-right" onclick="Slideshow.InitSlide('right')"></div>
</div>