<!-- Blog Navigation -->
<div class="blockLinks broken addSection">
<a href="http://www.fancythingsblog.com/search/label/Fashion" rel="nofollow">FASHION</a>
<a href="http://www.fancythingsblog.com/search/label/Life" rel="nofollow">LIFESTYLE</a>
<a href="http://www.fancythingsblog.com/search/label/Beauty" rel="nofollow">BEAUTY</a>
<a href="http://www.fancythingsblog.com/search/?q=label:Home|label:Decor" rel="nofollow">HOME DECOR</a>
</div>

<!-- Etsy Shop -->
<div class="addSection">
    <a href="https://www.etsy.com/shop/shopfancythings?ref=si_shop" target="_blank" class="shopImg">
        <img alt="Fancy things etsy shop" src="http://i1346.photobucket.com/albums/p683/fancythingsblog/fancyshop_button_zpse3a67344.png" />
    </a>
</div>

<!-- Post Archive -->
<div class="addSection">
    <select id="postArchive" onchange="Blog.GetPosts(this)">
        <option>Find an older post</option>
    </select>
    <script type="text/javascript">
        Blog.PopulatePostArchive();
    </script>
</div>

<!-- Instagram -->
<div class="addSection">
    <iframe src="http://snapwidget.com/sl/?u=ZmFuY3l0aGluZ3NibG9nfGlufDMxNXwyfDN8fG5vfDV8ZmFkZU91dA==" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:300px; height: 300px" ></iframe>
</div>

<!-- Where I Shop -->
<div class="addSection">
<div class="addSection blockLinks pink">
    <a href="http://www.stelladot.com/kristinbrophy" target="_blank">STELLA & DOT</a>
    <a href="http://bit.ly/WWCxjO" target="_blank">NORDSTROM</a>
    <a href="http://bit.ly/ZVJGyK" target="_blank">J. CREW</a>
    <a href="http://bit.ly/Y6jHGP" target="_blank"">TORY BURCH</a>
    <a href="http://bit.ly/WWCK6L" target="_blank">TARGET</a>
    <a href="http://bit.ly/ZVJP52" target="_blank">LOFT</a>
    <a href="http://bit.ly/WWCRPL" target="_blank">OLD NAVY</a>
    <a href="http://bit.ly/Y6jS4U" target="_blank">BAUBLEBAR</a>
    <a href="http://bit.ly/WWD0m8" target="_blank">KATE SPADE</a>
    <a href="http://bit.ly/ZVK28A" target="_blank">ULTA</a>
    <a href="http://www.fancythingsblog.com/p/shop.html" rel="nofollow">AND MORE...</a>
</div>
</div>

<!-- Favorite Reads -->
<div class="addSection">
<div class="blockLinks beige">
    <a href="http://www.theglitterguide.com" target="_blank">THE GLITTER GUIDE</a>
    <a href="http://www.theeverygirl.com" target="_blank">THE EVERYGIRL</a>
    <a href="http://www.laurenconrad.com" target="_blank">LAUREN CONRAD</a>
    <a href="http://www.fancythingsblog.com/p/favorite-reads.html" rel="nofollow">AND MORE...</a>
</div>
</div>

<!-- Facebook & Bloglovin -->
<div class="addSection">
    <div id="fb-root">
        <fb:like-box href="http://www.facebook.com/pages/Fashion-Food/213692045319671" width="315" show_faces="false" stream="false" header="true"></fb:like-box>
        <a title='fashion & food on bloglovin' href='http://www.bloglovin.com/blog/3322677/fancy-things'>
            <img src="http://www.bloglovin.com/widget/subscribers_pink.php?id=2574448&amp;lang=en" alt="Follow Fashion &amp; Food" style="margin-left:100px" />
        </a>
    </div>
    <script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '339913236114724', // App ID
      channelURL : 'http://www.fancythingsblog.com', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      oauth      : true, // enable OAuth 2.0
      xfbml      : true  // parse XFBML
    });
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
</script>
</div>